
<!-- Sections -->

<h1>Variables</h1>

{{#variables}}


<!-- Variblesの組み合わせ -->

* {{age}}<br/>
* {{company}}<br/>

<!-- エスケープ -->

* {{{company}}}<br/>
* {{&company}}<br/>

<!-- 階層も指定可能 -->

* {{name.first}} {{name.last}}<br/>
{{/variables}}


<!-- null, undefined, false, 0, or NaN がどのように扱われるか-->

<h1>falses</h1>

{{#falses}}

{{#false_1}}有効値<br/>{{/false_1}}
{{^false_1}}無効値<br/>{{/false_1}}

{{#false_2}}有効値<br/>{{/false_2}}
{{^false_2}}無効値<br/>{{/false_2}}

{{#false_3}}有効値<br/>{{/false_3}}
{{^false_3}}無効値<br/>{{/false_3}}

{{#false_4}}有効値<br/>{{/false_4}}
{{^false_4}}無効値<br/>{{/false_4}}


{{#false_5}}有効値<br/>{{/false_5}}
{{^false_5}}無効値<br/>{{/false_5}}

{{/falses}}


<!-- Array -->

<h1>配列</h1>

<!-- 配列の中身がある -->
{{#stooges}}
  {{name}}<br/>
{{/stooges}}
<p></p>

<!-- 配列が空 -->
{{^emptyArray}}
  空の配列です<br/>
  <p></p>
{{/emptyArray}}

<!-- key-valueではなく、値だけの場合 -->
{{#musketeers}}
  {{.}}<br/>
{{/musketeers}}
<p></p>


<!-- 宣言された関数を配列に対して実行することができる -->
{{#beatles}}
  {{name}}<br/>
{{/beatles}}


<!-- 特殊なレンダリングを行う（エスケープとか） -->
{{#functions}}
  {{#bold}}Hi {{name}}.{{/bold}}
{{/functions}}
